<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/styles.css' media='screen'>

    <link href='http://fonts.googleapis.com/css?family=Martel+Sans:300' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>

    <title>RESTaurant</title>
  </head>

  <body>
    <h2>Manager Portal</h2>

    <form action="/sessions" method='post'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value='log-out'>
    </form>




    <!-- Libraries -->
    <script type='text/javascript' src='/public/lib/jquery.js'></script>
    <script type='text/javascript' src='/public/lib/underscore.js'></script>
    <script type="text/javascript" src='/public/lib/backbone.js'></script>

    <!-- Backbone Models -->
    <script src='/models/FoodModel.js'></script>

    <!-- Backbone Collection -->
    <script src='/collections/FoodCollection.js'></script>

    <!-- Application -->
    <script src='/public/adminApp.js'></script>

  </body>
</html>
