<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/styles.css' media='screen'>

    <link href='http://fonts.googleapis.com/css?family=Martel+Sans:300' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>

    <title>RESTaurant</title>

  </head>

  <body>
    <nav>
      <h2>Munch</h2>
      <ul>
        <li><a href='/'>Order Portal</a></li>
      </ul>
    </nav>

    <form action="/sessions" method="post">
      <input type="text" name="username" placeholder='...username'>
      <input type="text" name="password" placeholder='...password'>
      <input type="submit" value="Log-In">
    </form>


    <!-- Libraries -->
    <script type='text/javascript' src='/javascripts/lib/jquery.js'></script>
    <script type='text/javascript' src='/javascripts/lib/underscore.js'></script>
    <script type="text/javascript" src='/javascripts/lib/backbone.js'></script>

    <!-- Backbone Models -->
    <script src='/javascripts/models/FoodModel.js'></script>

    <!-- Backbone Collection -->
    <script src='/javascripts/collections/FoodCollection.js'></script>

    <!-- Application -->
    <script src='/javascripts/app.js'></script>

  </body>
</html>
