<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/styles.css' media='screen'>
    <link href='http://fonts.googleapis.com/css?family=Martel+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
    <%= erb :template %>
  </head>
  <body id="wrapper">

    <nav>
      <div class="logo">
        <h1>Munch</h1>
      </div>
      <ul>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Orders</a></li>
      </ul>
    </nav>

    <section></section>

    <div id="form-container">

      <h3>create a menu item</h3>

      <!-- <script type="text/template" id="form-template"> -->

        <input type='text' id='food' placeholder='Food Name'>

        <input type='text' id='cents' placeholder='Cents'>

        <input type='text' id='description' placeholder='Description'>

        <input type="checkbox" id='vegan' name="vegan" value="Vegan"><p>Vegan Item</p>

        <button id='submit-food'>Submit</button>

      <!-- </script> -->
    </div>



    <footer>
      <h2>slow food for thought</h2>
    </footer>

  </body>
</html>
