<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/styles.css' media='screen'>

    <link href='http://fonts.googleapis.com/css?family=Martel+Sans:300' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>

    <title>RESTaurant</title>

  </head>

  <body>
    <nav>
      <h2>Manager Portal</h2>
      <ul>
        <!-- <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li> -->
      </ul>
    </nav>

    <ul class='interface-list' id='menu-list'>
    </ul>

    <ul class='interface-list' id='party-list'>
    </ul>



    <!-- Libraries -->
    <script type='text/javascript' src='/public/lib/jquery.js'></script>
    <script type='text/javascript' src='/public/lib/underscore.js'></script>
    <script type="text/javascript" src='/public/lib/backbone.js'></script>

    <!-- Backbone Models -->
    <script src='/models/FoodModel.js'></script>
    <script src='/models/PartyModel.js'>

    </script>

    <!-- Backbone Collection -->
    <script src='/collections/FoodCollection.js'></script>

    <!-- Application -->
    <script src='/javascripts/adminApp.js'></script>

  </body>
</html>
