<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/styles.css' media='screen'>
    <link href='http://fonts.googleapis.com/css?family=Martel+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
    <%= erb :template %>
  </head>
  <body id="wrapper">

    <nav>
      <div class="logo">
        <h1>Munch</h1>
      </div>
      <ul>
        <li><a href='/admin'>Admin</a></li>
      </ul>
    </nav>

    <section></section>

    <div class="order-containment">


    <ul class='interface-list' id='menu-list'>
    </ul>
    <ul class='interface-list' id='party-list'>
    </ul>

    <div id='order-button'>
      <button id='place-order'>
        Order
      </button>
    </div>

  </div>



    <footer>
      <h2>slow food for thought</h2>
    </footer>

  </body>
</html>
