<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/styles.css' media='screen'>
    <link href='http://fonts.googleapis.com/css?family=Martel+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>

    <script type='text/javascript' src='/scripts/jquery.js'></script>
    <script type='text/javascript' src='/scripts/underscore.js'></script>
    <script type="text/javascript" src='/scripts/backbone.js'></script>

    <title>RESTaurant</title>

  </head>

  <body>
    <nav>
      <ul>
        <!-- <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li> -->
      </ul>
    </nav>

  </body>
</html>
