* {
  display: block;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
  background:url(http://i.imgur.com/MCmJjlb.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  height: 70px;
  width: 100%;
  background-color: rgba( 255, 255, 255, .75);
  z-index: 1;
  position: fixed;
}

nav div {
  height: 70px;
  width: 25%;
  margin: 0;
  float: left;
  text-align: center;
  line-height: 70px;
}

nav div h1 {
  color: rgba(255, 47, 0, 1);
  margin: 0;
}

nav ul {
  width: 40%;
  float: right;
  margin: 0 auto;
}

nav li {
  width: 50%;
  float: right;
}

nav li a {
  line-height: 70px;
  color: rgba(255, 47, 0, 1);
  text-align: center;
  text-decoration: none;
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
}

nav li a:hover{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 47, 0, 1);
  transition: .5s;
}

section {
  width: 100%;
  height: 100px;
}

#form-container {
  width: 60%;
  padding: 10px;
  margin: 100 auto;
  background-color: rgba(255, 255, 255, .8);
}

footer {
  height: 90px;
  width: 100%;
  background-color: rgba(255, 47, 0, 1);
  clear: both;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

h1 {
  font-family: 'IM Fell English SC', serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: 'IM Fell English SC', serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

h3 {
  font-family: 'IM Fell English SC', serif;
  font-size: 26px;
  color: rgba(0, 178, 114, 1);
  text-align: center;
}

p {
  font-family: 'Martel Sans', sans-serif;
}

li {
  font-family: 'Martel Sans', sans-serif;
}

input[type='text'] {
  height: 60px;
  width: 300px;
  margin: 10px auto;
  padding: 0 10px;
  border: 2px solid rgba(0, 178, 114, 1);
}

input[type='submit'] {
  height: 60px;
  width: 300px;
  margin: 10px auto;
  line-height: 60px;
  color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 178, 114, 1);
  background-color: rgba(255, 255, 255, .8);
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

input[type='submit']:hover {
	background-color: rgba(0, 178, 114, .8);
}

#submit-food {
  height: 60px;
  width: 300px;
  margin: 10px auto;
  line-height: 60px;
  color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 178, 114, 1);
  background-color: rgba(255, 255, 255, .8);
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

#submit-food:hover {
  background-color: rgba(0, 178, 114, .8);
  color: rgba(255, 255, 255, 1);
}

.order-containment {
  margin-left: 2%;
}

.interface-list {
  margin: 2%;
}

#menu-list {
  width: 25%;
  float: left;
  background-color: rgba(255, 255, 255, .8);
}

#party-list {
  width: 25%;
  float: left;
  background-color: rgba(255, 255, 255, .8);
}

#order-button{
  width: 20%;
  float: right;
}

#place-order{
  height: 60px;
  position: fixed;
  padding: 0 50px;
  line-height: 60px;
  color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 178, 114, 1);
  background-color: rgba(255, 255, 255, .8);
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

#place-order:hover{
  background-color: rgba(0, 178, 114, .8);
  color: rgba(255, 255, 255, 1);
}

.party-selected {
    border: 1px dashed black;
}
.food-selected {
  border: 1px dashed magenta;
}
